<html>
    <head>
        <title>class 18 💖</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/post" method="POST" enctype="multipart/form-data">
            <textarea name="text" placeholder="say something..."></textarea>
            <input type="submit" value="add to database">
        </form>

        <div class="posts">
            <% for(let post of posts){ %>
                <span> <%= post.date %> </span>
                <p> 
                    <%= post.text %>
                </p>
            <% } %>
        </div>
    </body>
</html>